.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    width: 100%;
    position: relative;
    border: 1.5px solid var(--light-grey);
    border-radius: 8px;
}

.input {
    width: 100%;
    padding: 13px 14.5px;
    outline: none;
    max-width: 180px;
    border: none;
    border-radius: 8px;
}

.label {
    margin-bottom: 22px;
    display: block;
    color: var(--black);
    font-weight: bold;
    font-family: Montserrat-Bold, sans-serif;
}

.loaderWrapper {
    position: absolute;
    right: 0;
    top: 0;
}