@font-face {
    font-family: Montserrat-Bold;
    src: url("../../shared/assets//fonts/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../../shared/assets//fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
    font-family: Montserrat-Semibold;
    src: url("../../shared/assets//fonts/Montserrat-SemiBold.ttf") format("ttf");

}