.EmployeeItem {
    list-style-type: none;
    max-height: 70px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    border-radius: 10px;
    transition: all .5s;
}

.description {
    padding: 15px;
    flex-grow: 1;
    transition: background-color .5s;

}


.EmployeeItem:hover,
.active {
    outline: 1px solid #E0E0E0;
    outline-offset: -1px;

    .description {
        background-color: #E0E0E0;
    }
}

.username {
    font-family: Montserrat-Semibold, sans-serif;
}

.mail {
    color: #76787D
}