.EmployeeItem {
    list-style-type: none;
    max-height: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 10px;
    transition: all .5s;
}

.description {
    padding: 15px;
    flex-grow: 1;
    transition: background-color .5s;

}


.EmployeeItem:hover,
.active {
    outline: 1px solid #E0E0E0;
    outline-offset: -1px;

    .description {
        background-color: var(--middle-grey);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.username,
.mail {
    max-width: 140px;
    overflow: hidden;
    font-size: .875rem;
}

.username {
    font-family: Montserrat-Bold, sans-serif;
    margin-bottom: 5px;
    color: var(--black);
}

.mail {
    color: var(--grey);
}